{% if site.layout == 'stacked' %}
  {% assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0' %}
{% else %}
  {% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{% endif %}

<img src="{{ user.avatar_url }}" class="circle mb-3" style="max-width: 150px;">
<h1 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">{% if user.name %}{{ user.name }}{% else %}{{ user.login }}{% endif %}</h1>
<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  Incoming Software Engineering Intern @ Splunk | Former Software Engineering Intern @ PagerDuty | Engineering @ UWaterloo
  <!-- {{ user.bio }} -->
</p>

{% if include.metadata %}
  <div class="f4 mb-6">
    {% if user.name %}
      <div class="{{ metadata_styles }}">
        {% octicon mark-github height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:GitHub %}
        <a href="https://github.com/{{ user.login }}" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          @{{ user.login }}
        </a>
      </div>
    {% endif %}
    {% if true %}
      <div class="{{ metadata_styles }}">
        {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
        <a href="mailto:{{ mfollego@edu.uwaterloo.ca }}" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          mfollego@edu.uwaterloo.ca
        </a>
      </div>
    {% endif %}
    <!-- {% if user.location %}
      <div class="{{ metadata_styles }} {% if site.style == 'dark' %}text-white{% endif %}">
        {% octicon location height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Location %}
        {{ user.location }}
      </div>
    {% endif %} -->
      <div class="{{ metadata_styles }} {% if site.style == 'dark' %}text-white{% endif %}">
        <svg class="mr-2 v-align-middle" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 18"><path d="M3.94 2A2 2 0 1 1 2 0a2 2 0 0 1 1.94 2zM4 5.48H0V18h4zm6.32 0H6.34V18h3.94v-6.57c0-3.66 4.77-4 4.77 0V18H19v-7.93c0-6.17-7.06-5.94-8.72-2.91z" fill="#ffffff"/></svg>
              <a href="https://linkedin.com/in/matthewfollegot" {% if site.style == 'dark' %}class="text-white"{% endif %}>
                @matthewfollegot
              </a>
            </a>
      </div>
    {% if user.hireable %}
      <!-- <span title="Hire me" class="d-inline-block f5 rounded-2 text-white bg-green py-1 px-2"><a style="text-decoration: none;color: white;" href="https://drive.google.com/file/d/1DdDtc4vyP6Ezw5epK7BvEbdfaxb1Pc4U/view?usp=sharing">View Resume</a></span> -->
    {% endif %}
  </div>
{% endif %}
<span title="Hire me" style="margin-top: 0px;" class="d-inline-block f5 rounded-2 text-white bg-green py-1 px-2"><a style="text-decoration: none;color: white;" href="https://drive.google.com/file/d/1DdDtc4vyP6Ezw5epK7BvEbdfaxb1Pc4U/view?usp=sharing">View My Resume</a></span>
<br><br>

<br><br><h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Welcome!</h1><br>
<p style="font-weight: lighter;" class="mb-4 f3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  I'm a third-year Engineering Student at the University of Waterloo. I've previously worked at Splunk and PagerDuty as a Software Engineering Intern and I'm always looking for unique opportunities to apply my skills and learn some more.
</p>
<p style="font-weight: lighter;" class="mb-4 f3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
I'm particularly interested in building highly reliable and scalable systems, however I'd love to hear from you if you believe I'd be a good fit for additional opportunities.
</p><br><br>
<!-- <p class="mb-4 f3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  Being a deeply curious individual, I have many interests that are not work-related. The one I'm most passionate about is learning new languages. I'm currently learning Spanish and I aspire to be a polyglot by age 25. I really enjoy meditating and the benefits due to the benefits it provides. I was also really into yoga for a little while, but it's often difficult to incorporate it into my schedule when at school and doing it at home just doesn't feel the same to me.
  I'm a big sports fan, I've played soccer competitively all my life. I've been a long-time Arsenal and Raptors fan and that will never change. I'm not big in visual arts, but I do love music and I'm really hoping to improve my guitar skills before I graduate.
</p><br><br> -->


